<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.firstname, user %>
  <%= link_to user.sirname, user %>
  <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "delete", user, method: :delete,
                                    data: { confirm: "You sure?" } %>
      | <%  if user.admin? %>
        <%= link_to "admin", admin_user_path(user), method: :post, data: {confirm: "This will remove admin rights for  #{user.firstname} #{user.sirname}. Are you sure?"} %>
      <% else %>
        <%= link_to "Not-Admin", admin_user_path(user), method: :post, data: {confirm: "This will give user full admin rights. Are you sure?" } %>
      <% end %>
  <% end %>
</li>
