<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.firstname, user %>
  <%= link_to user.sirname, user %>
  <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "delete", user, method: :delete,
                                    data: { confirm: "You sure?" } %>
      | <%= link_to "admin", user, method: :admin,
                                   data: { confirm: "This will give user full admin rights. Are you shure?" } %>
  <% end %>
</li>
